@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts/basement-grotesque.css";

html,
body,
#__next {
  height: 100%;
  background: black;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow:auto;
  font-family: 'Basement Grotesque', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#image-container:hover #add-to-cart{
  opacity: 1;
}

#add-to-cart{
  opacity: 0;
  transition: opacity 0.2s;
}

.hollow{
  text-shadow: 1px 0px rgba(255,255,255,1), -1px 0px rgba(255,255,255,1), 0px 1px rgba(255,255,255,1), 0px -1px rgba(255,255,255,1);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.max-h-cart {
  max-height: calc(100% - 166px - 48px - 73px);
}
